@font-face {
  font-family: 'open_sanslight';
  src: url('./fonts/opensans-light-webfont.woff2') format('woff2'),
       url('./fonts/opensans-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansregular';
  src: url('./fonts/opensans-regular-webfont.woff2') format('woff2'),
       url('./fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'playfair_displayblack';
  src: url('./fonts/playfairdisplay-black-webfont.woff2') format('woff2'),
       url('./fonts/playfairdisplay-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'playfair_displaybold';
  src: url('./fonts/playfairdisplay-bold-webfont.woff2') format('woff2'),
       url('./fonts/playfairdisplay-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

h1 {
  font-family: 'playfair_displaybold', serif;
  font-size: 75px;
}

h3 {
  font-family: 'playfair_displaybold', serif;
  font-size: 28px;
}

body {
  font-family: 'open_sanslight', sans-serif;
}

button {
  font-family: 'open_sansregular', sans-serif;
}

a:focus {
  outline: none;
}

/* Onboarding Hints */
.corevalues-hints {
  background-color: #3d8af7;
  color: white;
  font-size: 13px;
}

.corevalues-hints .introjs-arrow.top,
.corevalues-hints .introjs-arrow.top-left,
.corevalues-hints .introjs-arrow.top-right,
.corevalues-hints .introjs-arrow.top-middle {
  border-bottom-color: #3d8af7;
}

.corevalues-hints .introjs-arrow.left,
.corevalues-hints .introjs-arrow.left-bottom,
.corevalues-hints .introjs-arrow.left-top {
  border-right-color: #3d8af7;
}

.corevalues-hints .introjs-arrow.right,
.corevalues-hints .introjs-arrow.right-bottom,
.corevalues-hints .introjs-arrow.right-top {
  border-left-color: #3d8af7;
}

.corevalues-hints .introjs-arrow.bottom,
.corevalues-hints .introjs-arrow.bottom-left,
.corevalues-hints .introjs-arrow.bottom-right,
.corevalues-hints .introjs-arrow.bottom-middle {
  border-top-color: #3d8af7;
}

.corevalues-hints a.introjs-button {
  background-color: #3b4754;
  color: white;
  text-shadow: none;
  border: none;
  background-image: none;
  font: 12px 'open_sanslight', sans-serif;
  float: right;
  margin-right: 6px;
}

.corevalues-hints a.introjs-button:hover {
  color: white;
  border-color: #3b4754;
  background-color: #3b4754;
  box-shadow: none;
}
