@font-face {
  font-family: 'open_sanslight';
  src: url('./fonts/opensans-light-webfont.woff2') format('woff2'),
       url('./fonts/opensans-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansregular';
  src: url('./fonts/opensans-regular-webfont.woff2') format('woff2'),
       url('./fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'playfair_displayblack';
  src: url('./fonts/playfairdisplay-black-webfont.woff2') format('woff2'),
       url('./fonts/playfairdisplay-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'playfair_displaybold';
  src: url('./fonts/playfairdisplay-bold-webfont.woff2') format('woff2'),
       url('./fonts/playfairdisplay-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'playfair_displaybold', serif;
  font-size: 75px;
}

h3 {
  font-family: 'playfair_displaybold', serif;
  font-size: 28px;
}

body {
  font-family: 'open_sanslight', sans-serif;
}

.introjs-tooltip {
  background-color: #3d8af7;
  color: white;
  font-size: 13px;
}

.introjs-arrow.top {
  border-bottom-color: #3d8af7;
}

a.introjs-button {
  background-color: #3b4754 !important;
  color: white !important;
  text-shadow: none !important;
  border: none !important;
  background-image: none !important;
  font: 12px 'open_sanslight', sans-serif !important;
  float: right !important;
  margin-right: 6px !important;
}

a.introjs-button:hover {
  color: white;
  border-color: #3b4754;
  background-color: #3b4754;
  box-shadow: none;
}
